body{
    background-color: rgb(138, 135, 135);
}

h1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(235, 235, 12);
    text-align: center;
    margin-top: 350px;
}